<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EmguCV" version="3.1.0.1" targetFramework="net40" />
  <package id="KeystrokeAPI" version="1.0.6.4" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net40" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net40" />
  <package id="SmartIrc4net" version="1.1" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net40" />
</packages>